﻿body
{
position:relative;
width:1000px;
margin:auto;
border:2px solid ble;
background-color:black;
}

img{
	text-align:center;
	display:block;
	margin:auto;
	max-width:1000px;
	padding-top:20px;
	padding-bottom:20px;
}

iframe{
	display:block;
	margin:auto;
}

#suivant{
  position: relative;
  margin:0;
  left: 80%;
}

#coteAcote{text-align:center;}
#coteAcote img{
	display:inline-block;
}

/*images du menu*/


.ecriture img
{
width:88,5px;height:75px;
display:inline-block;
position:absolute;
vertical-align:top;
top:200px;
left:800px;
}

.transfert img
{
width:88,5px;height:75px;
display:inline-block;
position:absolute;
vertical-align:top;
top:250px;
left:450px;
}

.mecanisme img
{
width:88,5px;height:75px;
display:inline-block;
position:absolute;
vertical-align:top;
top:200px;
left:150px;
}

.webo img
{
width:88,5px;height:75px;
display:inline-block;
position:absolute;
vertical-align:top;
top:225px;
left:310px;
}

.histoire img
{
width:88,5px;height:75px;
display:inline-block;
position:absolute;
vertical-align:top;
top:225px;
left:610px;
}

.tetep img
{
width:88,5px;height:75px;
display:inline-block;
position:absolute;
vertical-align:top;
top:140px;
left:460px;
}

.tetep img:hover
{
width:177px;height:125px;
}

.webo img:hover
{
width:177px;height:125px;
}

.histoire img:hover
{
width:177px;height:125px;
}

.mecanisme img:hover
{
width:177px;height:125px;
}

.transfert img:hover
{
width:177px;height:125px;
}

.ecriture img:hover
{
width:177px;height:125px;
}

/*------------------------------------------------------------Textes----------------------------------------------------------------------------*/

a,p,h2,article,span
{
color:white;
font-size:16px;
text-align:justify;
text-justify:inter-character;
}

/*-----------------------------------------------Style-------------------------------------------------------------------------*/

strong
{
	font-weight:bold;
	text-decoration:underline;
}
a
{
	text-decoration:underline;
}